body
{
	margin: 0;
	padding: 0;
}
td
{
	text-align: center;
	font-size: 30px;
	color:#ffffff;
	font-family: 'Questrial', sans-serif;
}
table
{
	width: 25%;
	margin: 0 auto;
	padding: 0 auto;
	margin-top: 15%;
}
#dia
{
	font-size: 40px;
}